<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/jpeg" href="{{site.url}}/assets/favicon.jpg" />

    <title>{% if page.title %} {{ page.title }} - {{ site.title }} {% else %} {{ site.title }} {% endif %}</title>

    <link rel="stylesheet" href="{{site.url}}/assets/css/app.css">

    {% seo %}
</head>
<body>

    <div id="app">

        <a id="backtotop" href="#top"><i class="glyphicon glyphicon-menu-up"></i></a>

        <header class="col-xs-12">
            <div class="presentation">
                <div>
                    <a href="{{site.url}}/">
                        <img class="presentation-img img-circle img-responsive center-block" src="{{site.profile_picture}}" alt="{{site.display_name}} Profile picture">
                    </a>
                </div>

                <div>
                    <h1 class="presentation-title">{{site.display_name}}</h1>
                    <p class="presentation-description">
                        Étudiant en Finance et Comptabilité<br>
                        Développeur Web et Mobile
                    </p>
                </div>
            </div>

            <nav>
                <div class="visible-xs visible-sm col-xs-12">
                    <a href="#" class="hamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </a>
                </div>
                <div class="clearfix"></div>
                <ul id="navigation" class="list-unstyled visible-md visible-lg">
                    {% include navigation.html %}
                </ul>
            </nav>

            <div class="social text-center">
                <a href="{{site.facebook_url}}"><img class="svg-small" src="{{'/assets/svg/social/facebook.svg' | absolute_url }}" alt=""></a>
                <a href="{{site.twitter_url}}"><img class="svg-small" src="{{'/assets/svg/social/twitter.svg' | absolute_url }}" alt=""></a>
                <a href="{{site.linkedin_url}}"><img class="svg-small" src="{{'/assets/svg/social/linkedin.svg' | absolute_url }}" alt=""></a>
                <a href="{{site.github_url}}"><img class="svg-small" src="{{'/assets/svg/social/github.svg' | absolute_url }}" alt=""></a>
                <a href="mailto:{{site.email}}"><img class="svg-small" src="{{'/assets/svg/social/mail.svg' | absolute_url }}" alt=""></a>
                <!-- <a href="#"><img class="svg-small" src="{{'/assets/svg/flags/france.svg' | absolute_url }}" alt=""></a> -->
            </div>

            <footer class="text-center">
                <p>Conçu et Développez avec <i class="glyphicon glyphicon-heart"></i> Par {{site.display_name}}</p>
            </footer>
        </header>

        <div id="top"></div>

        <noscript>
            <p class="col-xs-12 col-sm-12 col-md-9 alert alert-danger text-center" style="margin: 0;margin-top: -10px;font-size:150%;font-weight: bolder">
                S.V.P veuillez activer le Javascript pour profiter pleinement de votre navigation sur ce site.<br>
                <a class="alert-link" href="http://www.enable-javascript.com/fr/" target="_blank">
 instructions pour activer JavaScript dans votre navigateur Web</a>.
            </p>
        </noscript>

        {% if page.brand_img %}
            <div class="brand col-xs-12 col-sm-12 col-md-9 embed-responsive" style="{% if page.brand_height %}height:{{page.brand_height}}{%else%}height: 300px{%endif%}">
                <img class="brand-img {%if page.cover%}cover{%endif%}" src="{% if not contains 'http://' %} {{site.url}} {%endif%}{{page.brand_img}}" alt="">
                <div class="brand-curtain" style="{% if page.brand_height %}height:{{page.brand_height}}{%else%}height: 300px{%endif%}"></div>

                <div class="brand-content">
                    <h1 class="text-center">{% if page.brand_title %}{{ page.brand_title }}{% endif %}</h1>
                    <p class="text-justify">
                        {% if page.brand_content %}{{ page.brand_content }}{% endif %}
                    </p>
                </div>
            </div>
        {% elsif page.image %}
            <div class="brand col-xs-12 col-sm-12 col-md-9 embed-responsive" style="{% if page.brand_height %}height:{{page.brand_height}}{%else%}height: 300px{%endif%}">
                <img class="brand-img {%if page.cover%}cover{%endif%}" data-original="{% if not contains 'http://' %} {{site.url}} {%endif%}{{page.image}}" alt="">
                <div class="brand-curtain" style="{% if page.brand_height %}height:{{page.brand_height}}{%else%}height: 300px{%endif%}"></div>

                <div class="brand-content">
                    <h1 class="text-center">{% if page.title %}{{ page.title }}{% endif %}</h1>
                    <p>
                        {% if page.description %}{{ page.description }}{% endif %}
                    </p>
                    <p class="brand-info text-right">
                        {% if page.categories.size > 0 %}
                            Catégories:
                            {% for category in page.categories %}
                                <a href="{{site.url}}/journal/categories#{{category | slugify}}">{{ category | capitalize }}</a>{%if forloop.last == false%}, {%endif%}
                            {% endfor %}
                        {% endif %}

                        {% if page.tags.size > 0 %}
                            <i style="font-size: 70%" class="glyphicon glyphicon-tags"></i>
                            {% for tag in page.tags %}
                                <a href="{{site.url}}/journal/tags#{{tag | slugify}}">{{ tag | capitalize }}</a>{%if forloop.last == false%}, {%endif%}
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div>
        {% elsif page.title %}
            <div class="col-xs-12 col-sm-12 col-md-9 text-center">
                <h1>{{ page.title }}</h1>

                <p class="text-right">
                    {% if page.categories.size > 0 %}
                        Catégories:
                        {% for category in page.categories %}
                            <a href="{{site.url}}/journal/categories#{{category | slugify}}">{{ category | capitalize }}</a>{%if forloop.last == false%}, {%endif%}
                        {% endfor %}
                    {% endif %}

                    {% if page.tags.size > 0 %}
                        <i style="font-size: 70%" class="glyphicon glyphicon-tags"></i>
                        {% for tag in page.tags %}
                            <a href="{{site.url}}/journal/tags#{{tag | slugify}}">{{ tag | capitalize }}</a>{%if forloop.last == false%}, {%endif%}
                        {% endfor %}
                    {% endif %}
                </p>
                <hr class="col-md-8 col-md-offset-2">
            </div>
        {% endif %}