---
layout: default
---

<div class="single">
  {{ content }}
</div>

{% if page.comments != false %}

  <div class="clearfix"></div>

  <hr class="col-md-6 col-md-offset-3">

  <div class="clearfix"></div>

  <h2 style="color: gray" class="text-center">Commentaires</h2>

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{site.url}}{{page.url}}";
      this.page.identifier = "{{page.slug}}";
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://yassine-kessal.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}